body{
    margin:0;
    padding:0;
    background-color: wheat;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}
h2{
    text-align: left;
}

h1 {
    background-color: aqua;
    color: black;
}
